In [1]:
import sklearn
print(sklearn.__version__)

/home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages/sklearn/utils/_param_validation.py:11: UserWarning: A NumPy version >=1.23.5 and <2.3.0 is required for this version of SciPy (detected version 1.22.4)
  from scipy.sparse import csr_matrix, issparse

1.5.1

In [17]:
import pandas as pd
import sagemaker
from sagemaker.session import Session
from sagemaker.sklearn import SKLearn
import boto3

In [5]:
!pip install s3fs

Requirement already satisfied: s3fs in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (0.4.2)
Requirement already satisfied: botocore>=1.12.91 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from s3fs) (1.35.16)
Requirement already satisfied: fsspec>=0.6.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from s3fs) (2024.6.1)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from botocore>=1.12.91->s3fs) (1.0.1)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from botocore>=1.12.91->s3fs) (2.9.0)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from botocore>=1.12.91->s3fs) (2.2.2)
Requirement already satisfied: six>=1.5 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from python-dateutil<3.0.0,>=2.1->botocore>=1.12.91->s3fs) (1.16.0)

In [6]:
df = pd.read_csv("s3://projects-abdimatin/RandomClassifier/data/HR_comma_sep.csv")

In [7]:
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [8]:
df.drop(["last_evaluation", "number_project", "time_spend_company", "Work_accident", "Department"], axis=1, inplace=True)

In [9]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df["Salary_E"] = le.fit_transform(df["salary"])

In [10]:
df.head()

,satisfaction_level,average_montly_hours,left,promotion_last_5years,salary,Salary_E
0,0.38,157,1,0,low,1
1,0.80,262,1,0,medium,2
2,0.11,272,1,0,medium,2
3,0.72,223,1,0,low,1
4,0.37,159,1,0,low,1

In [11]:
df.drop(["salary"], axis=1, inplace=True)

In [12]:
df.head()

,satisfaction_level,average_montly_hours,left,promotion_last_5years,Salary_E
0,0.38,157,1,0,1
1,0.80,262,1,0,2
2,0.11,272,1,0,2
3,0.72,223,1,0,1
4,0.37,159,1,0,1

In [18]:
cols = ["left"] + [col for col in df.columns if col != "left"]
print(cols)

['left', 'satisfaction_level', 'average_montly_hours', 'promotion_last_5years', 'Salary_E']

In [14]:
sagemaker_client = boto3.client("sagemaker")

In [15]:
df.shape

(14999, 5)

In [19]:
X = df.drop("left", axis=1)
y = df.left

In [16]:
df.head()

,satisfaction_level,average_montly_hours,left,promotion_last_5years,Salary_E
0,0.38,157,1,0,1
1,0.80,262,1,0,2
2,0.11,272,1,0,2
3,0.72,223,1,0,1
4,0.37,159,1,0,1

In [20]:
df = df[cols]

In [21]:
df.head()

,left,satisfaction_level,average_montly_hours,promotion_last_5years,Salary_E
0,1,0.38,157,0,1
1,1,0.80,262,0,2
2,1,0.11,272,0,2
3,1,0.72,223,0,1
4,1,0.37,159,0,1

In [27]:
from sklearn.model_selection import train_test_split
train_df, test_df = train_test_split(df, stratify=df.left, test_size=0.2, random_state=42)

In [19]:
train_df.to_csv("s3://projects-abdimatin/RandomClassifier/data/train-hr.csv", index=False)
test_df.to_csv("s3://projects-abdimatin/RandomClassifier/data/test-hr.csv", index=False)

In [29]:
features = list(train_df.columns)
label = features[0]
print(label)

left

In [30]:
%%writefile script.py
import os
import boto3
import joblib
import argparse
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

def model_fn(model_dir):
    clf = joblib.load(os.path.join(model_dir, "model.joblib"))
    return clf

if __name__ == "__main__":
    print("[INFO] Extracting arguments")
    parser = argparse.ArgumentParser()

    parser.add_argument("--model-dir", type=str, default=os.environ.get("SM_MODEL_DIR"))
    parser.add_argument("--train", type=str, default=os.environ.get("SM_CHANNEL_TRAIN"))
    parser.add_argument("--test", type=str, default=os.environ.get("SM_CHANNEL_TEST"))
    parser.add_argument("--train-file", type=str, default="train-hr.csv")
    parser.add_argument("--test-file", type=str, default="test-hr.csv")

    args, _ = parser.parse_known_args()

    print("[INFO] Reading data")

    # Ensure the correct data source for test data
    train_df = pd.read_csv(os.path.join(args.train, args.train_file))
    test_df = pd.read_csv(os.path.join(args.test, args.test_file))

    features = list(train_df.columns)
    label = features[0]
    print("Building Training and testing datasets")
    
    X_train = train_df.drop(label, axis=1)
    y_train = train_df[label]

    X_test = test_df.drop(label, axis=1)
    y_test = test_df[label]

    model = RandomForestClassifier(n_estimators=100)  # Increased n_estimators for better performance
    model.fit(X_train, y_train)
    
    model_path = os.path.join(args.model_dir, "model.joblib")
    joblib.dump(model, model_path)
    print("Model persisted at " + model_path)

    y_pred = model.predict(X_test)
    print(classification_report(y_test, y_pred))

Writing script.py

In [31]:
role = sagemaker.get_execution_role()
print(role)

arn:aws:iam::557690604891:role/service-role/AmazonSageMaker-ExecutionRole-20241019T114685

In [32]:
from sagemaker.sklearn import SKLearn
FRAMEWORKVERSION = "0.23-1"
estimator = SKLearn(
    entry_point="script.py",
    role = role,
    framework_version=FRAMEWORKVERSION,
    instance_type = "ml.m5.large",
    instance_count=1,
    base_job_name = "RF-custom-sklearn",
    output_path = "s3://projects-abdimatin/RandomClassifier/models",
    use_spot_instance=True,
    wait=True
    )

In [33]:
test_path = "s3://projects-abdimatin/RandomClassifier/data"
train_path = "s3://projects-abdimatin/RandomClassifier/data"

In [34]:
estimator.fit({"train": train_path, "test": test_path})

INFO:sagemaker:Creating training-job with name: RF-custom-sklearn-2024-10-22-10-42-49-149

2024-10-22 10:42:50 Starting - Starting the training job...
2024-10-22 10:43:04 Starting - Preparing the instances for training...
2024-10-22 10:43:30 Downloading - Downloading input data...
2024-10-22 10:44:00 Downloading - Downloading the training image...
2024-10-22 10:44:46 Training - Training image download completed. Training in progress.
2024-10-22 10:44:46 Uploading - Uploading generated training model2024-10-22 10:44:41,138 sagemaker-containers INFO     Imported framework sagemaker_sklearn_container.training
2024-10-22 10:44:41,142 sagemaker-training-toolkit INFO     No GPUs detected (normal if no gpus installed)
2024-10-22 10:44:41,186 sagemaker_sklearn_container.training INFO     Invoking user training script.
2024-10-22 10:44:41,362 sagemaker-training-toolkit INFO     No GPUs detected (normal if no gpus installed)
2024-10-22 10:44:41,374 sagemaker-training-toolkit INFO     No GPUs detected (normal if no gpus installed)
2024-10-22 10:44:41,386 sagemaker-training-toolkit INFO     No GPUs detected (normal if no gpus installed)
2024-10-22 10:44:41,395 sagemaker-training-toolkit INFO     Invoking user script
Training Env:
{
    "additional_framework_parameters": {},
    "channel_input_dirs": {
        "test": "/opt/ml/input/data/test",
        "train": "/opt/ml/input/data/train"
    },
    "current_host": "algo-1",
    "framework_module": "sagemaker_sklearn_container.training:main",
    "hosts": [
        "algo-1"
    ],
    "hyperparameters": {},
    "input_config_dir": "/opt/ml/input/config",
    "input_data_config": {
        "test": {
            "TrainingInputMode": "File",
            "S3DistributionType": "FullyReplicated",
            "RecordWrapperType": "None"
        },
        "train": {
            "TrainingInputMode": "File",
            "S3DistributionType": "FullyReplicated",
            "RecordWrapperType": "None"
        }
    },
    "input_dir": "/opt/ml/input",
    "is_master": true,
    "job_name": "RF-custom-sklearn-2024-10-22-10-42-49-149",
    "log_level": 20,
    "master_hostname": "algo-1",
    "model_dir": "/opt/ml/model",
    "module_dir": "s3://projects-abdimatin/RF-custom-sklearn-2024-10-22-10-42-49-149/source/sourcedir.tar.gz",
    "module_name": "script",
    "network_interface_name": "eth0",
    "num_cpus": 2,
    "num_gpus": 0,
    "output_data_dir": "/opt/ml/output/data",
    "output_dir": "/opt/ml/output",
    "output_intermediate_dir": "/opt/ml/output/intermediate",
    "resource_config": {
        "current_host": "algo-1",
        "current_instance_type": "ml.m5.large",
        "current_group_name": "homogeneousCluster",
        "hosts": [
            "algo-1"
        ],
        "instance_groups": [
            {
                "instance_group_name": "homogeneousCluster",
                "instance_type": "ml.m5.large",
                "hosts": [
                    "algo-1"
                ]
            }
        ],
        "network_interface_name": "eth0"
    },
    "user_entry_point": "script.py"
}
Environment variables:
SM_HOSTS=["algo-1"]
SM_NETWORK_INTERFACE_NAME=eth0
SM_HPS={}
SM_USER_ENTRY_POINT=script.py
SM_FRAMEWORK_PARAMS={}
SM_RESOURCE_CONFIG={"current_group_name":"homogeneousCluster","current_host":"algo-1","current_instance_type":"ml.m5.large","hosts":["algo-1"],"instance_groups":[{"hosts":["algo-1"],"instance_group_name":"homogeneousCluster","instance_type":"ml.m5.large"}],"network_interface_name":"eth0"}
SM_INPUT_DATA_CONFIG={"test":{"RecordWrapperType":"None","S3DistributionType":"FullyReplicated","TrainingInputMode":"File"},"train":{"RecordWrapperType":"None","S3DistributionType":"FullyReplicated","TrainingInputMode":"File"}}
SM_OUTPUT_DATA_DIR=/opt/ml/output/data
SM_CHANNELS=["test","train"]
SM_CURRENT_HOST=algo-1
SM_MODULE_NAME=script
SM_LOG_LEVEL=20
SM_FRAMEWORK_MODULE=sagemaker_sklearn_container.training:main
SM_INPUT_DIR=/opt/ml/input
SM_INPUT_CONFIG_DIR=/opt/ml/input/config
SM_OUTPUT_DIR=/opt/ml/output
SM_NUM_CPUS=2
SM_NUM_GPUS=0
SM_MODEL_DIR=/opt/ml/model
SM_MODULE_DIR=s3://projects-abdimatin/RF-custom-sklearn-2024-10-22-10-42-49-149/source/sourcedir.tar.gz
SM_TRAINING_ENV={"additional_framework_parameters":{},"channel_input_dirs":{"test":"/opt/ml/input/data/test","train":"/opt/ml/input/data/train"},"current_host":"algo-1","framework_module":"sagemaker_sklearn_container.training:main","hosts":["algo-1"],"hyperparameters":{},"input_config_dir":"/opt/ml/input/config","input_data_config":{"test":{"RecordWrapperType":"None","S3DistributionType":"FullyReplicated","TrainingInputMode":"File"},"train":{"RecordWrapperType":"None","S3DistributionType":"FullyReplicated","TrainingInputMode":"File"}},"input_dir":"/opt/ml/input","is_master":true,"job_name":"RF-custom-sklearn-2024-10-22-10-42-49-149","log_level":20,"master_hostname":"algo-1","model_dir":"/opt/ml/model","module_dir":"s3://projects-abdimatin/RF-custom-sklearn-2024-10-22-10-42-49-149/source/sourcedir.tar.gz","module_name":"script","network_interface_name":"eth0","num_cpus":2,"num_gpus":0,"output_data_dir":"/opt/ml/output/data","output_dir":"/opt/ml/output","output_intermediate_dir":"/opt/ml/output/intermediate","resource_config":{"current_group_name":"homogeneousCluster","current_host":"algo-1","current_instance_type":"ml.m5.large","hosts":["algo-1"],"instance_groups":[{"hosts":["algo-1"],"instance_group_name":"homogeneousCluster","instance_type":"ml.m5.large"}],"network_interface_name":"eth0"},"user_entry_point":"script.py"}
SM_USER_ARGS=[]
SM_OUTPUT_INTERMEDIATE_DIR=/opt/ml/output/intermediate
SM_CHANNEL_TEST=/opt/ml/input/data/test
SM_CHANNEL_TRAIN=/opt/ml/input/data/train
PYTHONPATH=/opt/ml/code:/miniconda3/bin:/miniconda3/lib/python37.zip:/miniconda3/lib/python3.7:/miniconda3/lib/python3.7/lib-dynload:/miniconda3/lib/python3.7/site-packages
Invoking script with the following command:
/miniconda3/bin/python script.py
[INFO] Extracting arguments
[INFO] Reading data
Building Training and testing datasets
Model persisted at /opt/ml/model/model.joblib
              precision    recall  f1-score   support
           0       0.96      0.96      0.96      2286
           1       0.86      0.88      0.87       714
    accuracy                           0.94      3000
   macro avg       0.91      0.92      0.92      3000
weighted avg       0.94      0.94      0.94      3000
2024-10-22 10:44:43,370 sagemaker-containers INFO     Reporting training SUCCESS

2024-10-22 10:44:59 Completed - Training job completed
Training seconds: 89
Billable seconds: 89

In [37]:
sm_boto = boto3.client("sagemaker")
estimator.latest_training_job.wait(logs="None")
artifact = sm_boto.describe_training_job(
    TrainingJobName=estimator.latest_training_job.name
)['ModelArtifacts']['S3ModelArtifacts']
print(artifact)

2024-10-22 10:44:59 Starting - Preparing the instances for training
2024-10-22 10:44:59 Downloading - Downloading the training image
2024-10-22 10:44:59 Training - Training image download completed. Training in progress.
2024-10-22 10:44:59 Uploading - Uploading generated training model
2024-10-22 10:44:59 Completed - Training job completed
s3://projects-abdimatin/RandomClassifier/models/RF-custom-sklearn-2024-10-22-10-42-49-149/output/model.tar.gz

In [41]:
from sagemaker.sklearn.model import SKLearnModel
from time import gmtime, strftime

model_name = "Custom-Random-Classifier-" + strftime("%Y-%m-%d-%H-%M-%S", gmtime())
model = SKLearnModel(
    name=model_name,
    model_data=artifact,
    role=role,
    entry_point="script.py",
    framework_version=FRAMEWORKVERSION
)
model

In [42]:
endpoint_name = "Custom-Random-Classifier-endpoint-1"
print("Endpoint Nanme: ", endpoint_name)

Endpoint Nanme:  Custom-Random-Classifier-endpoint-1

In [45]:
predictor = model.deploy(
    endpoint_name=endpoint_name, 
    instance_type="ml.m4.xlarge",
    initial_instance_count=1
)

INFO:sagemaker:Creating model with name: Custom-Random-Classifier-2024-10-22-11-01-23
WARNING:sagemaker:Using already existing model: Custom-Random-Classifier-2024-10-22-11-01-23
INFO:sagemaker:Creating endpoint-config with name Custom-Random-Classifier-endpoint-1
INFO:sagemaker:Creating endpoint with name Custom-Random-Classifier-endpoint-1

------!

In [60]:
testx = train_df[features[1:]]  # All columns except the label
testy = train_df[features[0]]

In [61]:
from sklearn.metrics import classification_report
pred = predictor.predict(testx)
print(classification_report(y_pred=pred, y_true=testy))

              precision    recall  f1-score   support

           0       0.99      0.98      0.99      9142
           1       0.95      0.98      0.96      2857

    accuracy                           0.98     11999
   macro avg       0.97      0.98      0.98     11999
weighted avg       0.98      0.98      0.98     11999